RewriteEngine On
RewriteBase /public/

# Permitir acceso directo a archivos estáticos
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# Redirigir todo lo demás al index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]

